html {
    font-size: 10px
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.root {
    width: 100%;
    background-color: #ffffff;
}
  
.navber {
    width: 100%;
    position: fixed;
    height: 6.5rem;
    top: 0;
    box-sizing: border-box;
    padding: 1.5rem 1rem;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
  
.navbar__title_logo {
    width: 15%;
    display: block;
}

.navbar__block {
    width: 70%;
    height: 6.5rem;
    list-style: none;
    position: absolute;
    display: flex;
    right: 3rem;
    top: 0;
    justify-content: space-between;
}

.navbar__block_item {
    height: 6.5rem;
    font-size: 1.8rem;
    padding: 1rem 0;
    cursor: pointer;
    position: relative;
    display: block;
    text-decoration: none;
    color: #000000;
}

.item-top {
    display: block;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
.item-bottom {
    font-size: 1.2rem;
    margin-top: 0.2rem;
    display: block;
    text-decoration: none;
    color: #000000;
} 

.navbar__block_item:hover .item_second {
    display: block;
}

.item_second {
    min-width: 15rem;
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 6.5rem;
    left: -1rem;
    font-size: 1.8rem;
}

.second-item {
    padding: 1rem 1rem;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000000;
}

.second-item:hover {
    background-color: rgba(255, 255, 255, 0.7);;
}

.container {
    width: 100%;
    margin: 0 auto; 
    overflow: hidden;   
}

.container_photos {
    width: 100%;
    display: flex;
    animation: switch 6s ease-out infinite normal;
    -webkit-animation: switch 6s ease-out infinite normal;
}

.container-item {
    width: 100%;
    position: relative;
    float: left;
}

@keyframes switch{
	0%, 25% { /* 第1张图所用时长 */
		margin-left: 0px; /* 第一张距离左侧的长度 */
	}
	30%, 60% {/* 第2张图所用时长 */
		margin-left: -100%; /* 第一张距离左侧的长度 */
	}
	70%, 100% {/* 第3张图所用时长 */
		margin-left: -200%; /* 第一张距离左侧的长度 */
	}
}

@-webkit-keyframes switch{
	0%, 25% { /* 第1张图所用时长 */
		margin-left: 0px; /* 第一张距离左侧的长度 */
	}
	30%, 60% {/* 第2张图所用时长 */
		margin-left: -100%; /* 第一张距离左侧的长度 */
	}
	70%, 100% {/* 第3张图所用时长 */
		margin-left: -200%; /* 第一张距离左侧的长度 */
	}
}
 
.majors {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 5%;
    align-items: center;
    justify-content: space-evenly;
}

.majors_item {
    width: 30%;
    display: inline-block;
    padding-bottom: 30%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    position: relative;
    text-decoration: none;
    color: #000000;
}

.majors_item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border: 1px solid #929292;
    transform-origin: top left;
    transform: scale(0.5, 0.5);
}

.item_name {
    position: absolute;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    height: 6rem;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.item_name-top {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
}
.item_name-bottom {
    font-size: 1.3rem;
}
